
html
{
	height: 100%;
}

body
{
	z-index: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
}

#wrapper
{
	min-width: 1000px;
	min-height: 100%;
	background: url(../img/cards-1-3840x2160.jpg) no-repeat;
	-moz-background-size: cover; /* Firefox 3.6+ */
	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover; /* Opera 9.6+ */
	background-size: cover; /* Современные браузеры */
}

