
html
{
	height: 100%;
}

body
{
z-index: 0;
margin: 0;
padding: 0;
height: 100%;
font-family: Arial, Geneva, Helvetica, sans-serif;
font-size: 12px;
//background-color: rgb(255,255,240);  /* color Ivory */
background: url(../img/cards-1-3840x2160.jpg) no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
-o-background-size: 100%; /* Opera 9.6+ */
background-size: 100%; /* Современные браузеры */
}

.lines
{
	height: 85px !important;
}
