
html
{
	height: 100%;
}

body
{
	z-index: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
}

#wrapper
{
	position: relative;
	min-width: 1000px;
	min-height: 100%;
	font-size: inherit;
	background: url(../img/cards-1-3840x2160.jpg) no-repeat;
	-moz-background-size: cover; /* Firefox 3.6+ */
	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover; /* Opera 9.6+ */
	background-size: cover; /* Современные браузеры */
}

@media (max-width: 980px){
	#wrapper{
		width: 98%;
		height: 100%;
	}
}

.line
{
	width: 1000px;
	height: 80px;
}

@media (max-width: 980px){
	.line
	{
		width: 98%;
		height: calc(((100% - 10% - 20%) - (10px * 6)) / 5);
	}
}

@media (min-width: 981px){
	.ln-notice
	{
		position: absolute;
		z-index: 2;
		height: 20px;
		left: -10px;
		top: -10px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 10px;
		font-weight: bold;
		background-color: rgb(0,255,0); /* color Green */
	}
	
	.ln-notice:before
	{
		content: '\200B';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	
	.ln-notice span
	{
		vertical-align: middle;
	}
	
	.ln-ntc-firstGeometryFigure
	{
		position: absolute;
		left: 0px;
		top: 20px;
		width: 0;
		height:0;
		border-top: 0px solid transparent;
		border-right: 10px solid rgb(191,99,0);
		border-bottom: 10px solid transparent;
	}
	
	.ln-ntc-secondGeometryFigure
	{
		position: absolute;
		top: 0px;
		right: -10px;
		width: 0;
		height: 0;
		border-right: 10px solid transparent;
		border-top: 10px solid rgb(0,255,0); /* color Green */
		border-left: 0px solid rgb(0,255,0); /* color Green */
		border-bottom: 10px solid rgb(0,255,0); /* color Green */
	}
}

@media (max-width: 980px){
	.ln-notice
	{
		position: absolute;
		z-index: 2;
		top: 0px;
		right: 0px;
		height: 15%;
		width: 30%;
		font-size: 200%;
		font-weight: bold;
		text-align: center;
		background-color: rgb(0,255,0); /* color Green */
		border-top-right-radius: 5px;
	}
	
	.ln-notice:before
	{
		content: '\200B';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	
	.ln-notice span
	{
		vertical-align: middle;
	}
	
	.ln-ntc-firstGeometryFigure
	{
		display: none;
	}
	
	.ln-ntc-secondGeometryFigure
	{
		display: none;
	}
}

.ln-secondTxtSection
{
	display: inline-block;
	width: 25%;
	height: 100%;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.ln-secondTxtSection:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ln-2ndSecLinesWrapper
{
	display: inline-block;
	vertical-align: middle;
}

@media NOT (max-width: 980px){
	.ln-2ndSecFirstRow
	{
		display: none;
	}
}

.ln-2ndSecAmount
{
	margin-top: 1px;
	font-size: 150%;
	font-weight: bold;
}

.ln-2ndSecAmount + div
{
	margin-top: 1px;
}

.ln-2ndSecAmount + div + div
{
	margin-top: 1px;
}

@media (max-width: 980px){
	.ln-secondTxtSection
	{
		width: 40%;
	}
	
	.ln-2ndSecLinesWrapper
	{
		font-size: 250%;
	}
	
	.ln-2ndSecFirstRow
	{
		font-size: 150%;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.ln-2ndSecAmount
	{
		font-size: 100%;
	}
}

.ln-thirdTxtSection
{
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.ln-thirdTxtSection:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ln-3rdSecLinesWrapper
{
	display: inline-block;
	width: 100%;
	height: 80%;
	border-left: 1px solid rgb(232,232,232);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
}

.ln-3rdSecLinesWrapper:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ln-3rdSecLines
{
	display: inline-block;
	vertical-align: middle;
}

.ln-3rdSecStarsWrapper
{
	margin-top: 5px;
}

.ln-3rdSecStarsWrapper span:not(:first-child)
{
	margin-left: 2px;
}

@media (max-width: 980px){
	.ln-thirdTxtSection
	{
		position: absolute;
		top: 17%;
		right: 0px;
		height: 10%;
		width: 30%;
	}
	
	.ln-3rdSecLinesWrapper
	{
		border-left: none;
	}
	
	.ln-3rdSecRating
	{
		display: none;
	}
	
	.ln-3rdSecStarsWrapper
	{
		margin-top: 0;
	}
}

.ln-fifthTxtSection
{
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.ln-fifthTxtSection:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

@media (max-width: 980px){
	.ln-fifthTxtSection
	{
		width: 30%;
	}
}

.ln-5thSecInputWrapper
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 80%;
	border-left: 1px solid rgb(232,232,232);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
}

.ln-5thSecInputWrapper:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ln-5thSecInputWrapper input
{
	width: 100px;
	height: 30px;
	color: rgb(255,255,240);  /* color Ivory */
	background-color: rgb(0,219,0); /* color Green */
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 980px){
	.ln-5thSecInputWrapper
	{
		border-left: none;
	}
	
	.ln-5thSecInputWrapper input
	{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%;
		height: 40%;
		font-size: 250%;
		color: rgb(255,255,240);  /* color Ivory */
		background-color: rgb(0,219,0); /* color Green */
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}
