#line1
{
	position: relative;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 980px){
	#line1{
		width: 98%;
		height: 10%;
	}
}

#line1Logo
{
	position: absolute;
	width: 280px;
	height: 82px;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -41px;
}
