#line5
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: rgb(255,255,240);  /* color Ivory */
	border-radius: 5px;
}

#ln5-firstTxtSection
{
	position: relative;
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(0,0,0);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

@media (max-width: 980px){
	#ln5-firstTxtSection
	{
		width: 30%;
		overflow: hidden;
	}
	
	#ln5-firstTxtSection:after
	{
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		border-radius: 100%;
		width: 200px;
		height: 200px;
		box-shadow: 0px 0px 0px 300px rgb(255,255,240);  /* color Ivory */
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

#ln5-1stSecLogo
{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#ln5-1stSecLogo img
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 80%;
	max-height: 80%;
  transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#ln5-1stSec-firstArrow
{
	position: absolute;
	top: 0px;
	right: -10px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 10px solid rgb(0,0,0);
	border-bottom: 40px solid transparent;
}

@media (max-width: 980px){
	#ln5-1stSec-firstArrow
	{
		display: none;
	}
}

#ln5-1stSec-secondArrowContainer
{
	position: absolute;
	z-index: 2;
	top: 0px;
	right: -18px;
	height: 100%;
	width: 30px;
	overflow: hidden;
}

@media (max-width: 980px){
	#ln5-1stSec-secondArrowContainer
	{
		display: none;
	}
}

#ln5-1stSec-secondTopArrow
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 45px;
	border-right: 5px solid rgb(0,0,0);
	border-radius: 2px;
	transform: rotate(-14deg);
}

#ln5-1stSec-secondBottomArrow
{
	position: absolute;
	top: 35px;
	left: 0px;
	width: 20px;
	height: 45px;
	border-right: 5px solid rgb(0,0,0);
	border-radius: 2px;
	transform: rotate(14deg);
}

#ln5-fourthTxtSection
{
	display: inline-block;
	width: 15%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

#ln5-fourthTxtSection:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#ln5-4thSecRating
{
	display: inline-block;
	width: 100%;
	height: 80%;
	border-left: 1px solid rgb(232,232,232);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
	font-size: 28px;
	font-weight: bold;
}

#ln5-4thSecRating:before
{
	content: '\200B';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

@media (max-width: 980px){
	#ln5-fourthTxtSection
	{
		display: none;
	}
}
